@use "./variables" as *;

html {
    font-size: 62.5%;
}

body{
    font-family: 'Instrument Sans', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Instrument Serif', serif;
    font-weight: 400;
    line-height: 100%;
}

.btn {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 1.2rem;
}

.landing {

    &__title {
        display: flex;
        flex-direction: column;
        font-style: italic;
        width: fit-content;
    }

    &__span {
        line-height: 100%;
        &--small {
            font-size: 2.8rem;
            color: $light-text;
        }

        &--big {
            text-transform: uppercase;
            font-size: 9rem;
            letter-spacing: -1%;
            margin-left: -.2rem;
            color: $light-accent;
        }
    }
    
    &__scroll {
        font-size: 1.2rem;
    }
}

.sound {
    & .message {
        &__text {
            font-size: 2.1rem;
            font-family: 'Instrument Serif', serif;
            text-align: center;
            color: $dark-text;
        }
    }
}

.intro, .functioning {
    &__title {
        color: $light-accent;
        font-size: 3.8rem;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 150%;
    }
}

.menu {
    &__el {
        &--link {
            font-size: 3.8rem;
            font-family: 'Instrument Serif', serif;
        }
    }
}

@media (min-width: 767px) {
    .landing {
        &__span {

            &--small {
                font-size: 3.8rem;
            }

            &--big {
                font-size: 16rem;
            }
        }

        &__btn {
            font-size: 2.1rem;
        }

        &__scroll {
            font-size: 1.6rem;
        }
    }

    .intro, .functioning {
        &__title {
            font-size: 5.1rem;
        }

        &__text {
            font-size: 2.1rem;
        }
    }

    .menu {
        &__el {
            &--link {
                font-size: 5.1rem;
            }
        }
    }
}

@media (min-width: 1023px) {
    .landing {
         &__span {

            &--small {
                font-size: 2.8rem;
            }

            &--big {
                font-size: 12rem;
            }
        }
    }
}