@use "./variables" as *;

html {
    font-size: 62.5%;
}

body{
    font-family: 'Instrument Sans', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Instrument Serif', serif;
    font-weight: 400;
    line-height: 100%;
}

.btn {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 1.2rem;
}

i {
    color: $dark-accent;
}

.landing {

    &__title {
        display: flex;
        flex-direction: column;
        font-style: italic;
        width: fit-content;
    }

    &__span {
        line-height: 100%;
        &--small {
            font-size: 2.8rem;
            color: $light-text;
        }

        &--big {
            text-transform: uppercase;
            font-size: 9rem;
            letter-spacing: -1%;
            margin-left: -.2rem;
            color: $light-accent;
        }
    }
    
    &__scroll {
        font-size: 1.2rem;
    }
}

.sound {
    & .message {
        &__text {
            font-size: 2.1rem;
            font-family: 'Instrument Serif', serif;
            text-align: center;
            color: $dark-text;
        }
    }
}

.intro, .functioning {
    &__title {
        color: $light-accent;
        font-size: 3.8rem;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 150%;
    }
}

.menu {
    &__el {
        &--link {
            font-size: 3.8rem;
            font-family: 'Instrument Serif', serif;
        }
    }
}

// Experience

.poem {

    &__title, &__verse {
        font-family: 'Instrument Serif', serif;
    }

    &__title {
        font-size: 3.8rem;
        color: $dark-accent;
    }

    &__verse {
        font-size: 2.1rem;
        color: $dark-text;
        line-height: 160%;
        font-style: italic;
    }
}

.zenith {
        &__title {
            color: $light-accent;
        }

        &__verse {
            color: $light-text;
        }
}

.interface {
    &__title {
        font-size: 2.1rem;
        color: $dark-text;
        font-family: 'Instrument Serif', serif;
    }
}

.subtitles {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: $dark-text;
    line-height: 140%;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8), 0 0 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 429px) {
    .poem {
        &__title {
            font-size: 5.1rem;
        }
        &__verse {
            font-size: 2.8rem;
        }
    }
}

@media (min-width: 767px) {
    .landing {
        &__span {

            &--small {
                font-size: 3.8rem;
            }

            &--big {
                font-size: 16rem;
            }
        }

        &__btn {
            font-size: 2.1rem;
        }

        &__scroll {
            font-size: 1.6rem;
        }
    }

    .intro, .functioning {
        &__title {
            font-size: 5.1rem;
        }

        &__text {
            font-size: 2.1rem;
        }
    }

    .menu {
        &__el {
            &--link {
                font-size: 5.1rem;
            }
        }
    }

    .sound {
        & .message {
            &__text {
                font-size: 2.8rem;
            }
        }
    }

    .poem {
        &__title {
            font-size: 6.7rem;
        }
    }
}

@media (min-width: 1023px) {
    .landing {
         &__span {

            &--small {
                font-size: 2.8rem;
            }

            &--big {
                font-size: 12rem;
            }
        }
    }

    
}