$light-accent: #EC6A00;
$light-text: #020026;
$light-bg: #FEFAF7;

$dark-accent: #FF7300;
$dark-text: #FEFAF7;
$dark-bg: #020026;

$power2inOut: linear(
    0, 0.0036 9.62%, 0.0185 16.66%,
    0.0489 23.03%, 0.0962 28.86%,
    0.1705 34.93%, 0.269 40.66%,
    0.3867 45.89%, 0.5833 52.95%,
    0.683 57.05%, 0.7829 62.14%,
    0.8621 67.46%, 0.8991 70.68%,
    0.9299 74.03%, 0.9545 77.52%,
    0.9735 81.21%, 0.9865 85%,
    0.9949 89.15%, 1
  );

  $power1Out: linear(
    0, 0.0014 11.11%, 0.0071 19.24%,
    0.0188 26.6%, 0.037 33.33%,
    0.0634 39.87%, 0.0978 46.07%,
    0.1407 52.02%, 0.1925 57.74%,
    0.2559 63.49%, 0.3295 69.07%,
    0.4135 74.5%, 0.5083 79.81%, 0.6141 85%,
    0.7312 90.09%, 1
  );